image: mcr.microsoft.com/playwright:v1.39.0-jammy

tags:
  - dwp-aws-x86-linux-l

variables:
  TARGET_ENV:
    value: "DEV"
    options:
      - DEV
      - TEST

stages:
  - test

playwright-tests:
  stage: test
  script:
    - npm install
    - echo "Running Playwright tests for $TARGET_ENV"
    - TARGET_ENV=$TARGET_ENV npx playwright test
  artifacts:
    when: always
    paths:
      - test-results/
