default:
  image: $CI_REGISTRY/dwp/engineering/platform/ci-docker-stable
  tags:
    - dwp-aws-x86-linux-l

stages:
  - test

variables:
  BASE_URL:
    value: "https://dev-child-maintenance.dwp.gov.uk/calculate/"
  ENV_NAME:
    value: "dev"
    options: [dev, stage, test]
  BROWSER:
    value: "chromium"
    options: [chromium, firefox, webkit]
  TAGS:
    value: "@regression"
    options: ["@smoke", "@regression", "@E2E"]

playwright-tests:
  stage: test
  when: manual
  script:
    - echo "Running Playwright tests"
    - npm install
    - npx playwright install
    - BASE_URL=$BASE_URL npx playwright test --grep "$TAGS" --project="$BROWSER"
    - npx allure generate allure-results --clean -o allure-report
  environment:
    name: $ENV_NAME
    url: $BASE_URL
  artifacts:
    when: always
    expire_in: 3 months
    paths:
      - allure-report/
      - playwright-report/
      - test-results/
